<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detector page</title>
</head>
<body>
    <div id="root"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.21.1/babel.min.js"></script>
    <script type="text/babel">

        import React from 'react';
        import ReactDOM from 'react-dom';

    </script>
    <table>
        <tr>
            <td>
                <h1>Video streaming</h1>
                <img src="{% url 'videostream' stream_path='video' %}">
            </td>
        </tr>
    </table>
</body>
</html>